
<main class="main">
  <div class="pp">
    <img src="../../assets/pplinkenin.jpeg" alt="photo de moi">
  </div>
  <div class="intro">
    <p> 
      Bienvenue sur mon site web CV ! Je suis Haris, un passionné du développement informatique et de la technologie, toujours à la recherche de nouveaux défis à relever. Fort d'une solide formation académique à l'école 42, où j'ai perfectionné mes compétences en développement web et en programmation, je suis désormais prêt à mettre mon expertise au service de projets innovants. Mon parcours m'a appris l'importance de l'autonomie, de la créativité et de l'apprentissage continu, des valeurs que je mets en pratique chaque jour dans mes projets. Explorez mon site pour découvrir mon parcours professionnel, mes compétences techniques et mes réalisations.
    </p>
  </div>

</main>

<style>
  
  main {
    position: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    background-image: url(../../assets/building.jpeg);
    background-size: cover; /* Ajuster la taille de l'image pour couvrir toute la zone */
    background-position: center; /* Centrer l'image dans la zone */
  }

  .pp{
    position: relative;
    left : 10px;
    top : 10px;
    height : 50%;
    width: 40%;
    border-radius: 50%;
    max-width: 40%; /* Limiter la largeur à 40% */
  }

  .pp img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: solid white 2px;
  }

  .intro {
  position: absolute;
  display: flex;
  top: 0;
  left: calc(40% + 20px); /* Ajoute un décalage de 20px à droite de l'image */
  height: 80%;
  width: calc(57% - 20px); /* Calcule la largeur en fonction de l'espace restant */
  align-items: center;
  overflow-y: scroll;
}

.intro p{
  color: red;
  padding-left: 5px;
  backdrop-filter: blur(30px);
  border: solid black 3px;
  font-size: x-large;
}
</style>