<style>
  main{
    margin:auto;
    width: 80%;
    height: 80%;
    backdrop-filter: blur(16px);
  }
  .identity{
    width: 100%;
    height: 50%;
    background-color: yellow;
  }
  .pp{
    width: 50%;
    height: 100%;
  }
  .name{
    position: fixed;
    left: 50%;
    width: 50%;
    height: 100;
    background-color: red;
  }

  .pp img{
    border-radius: 50%;
    height: 100%;
    margin-left: 20%;
  }
</style>

<main>
  <div class="identity">
    <div class="pp">
      <img src="../../assets/pplinkenin.jpeg">
    </div>
    <div class="name">

    </div>
  </div>
  <div class="about">

  </div>
</main>