
<style>
    main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  width: 80%;
  height: 80%;
  backdrop-filter: blur(16px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.contact-form {
  flex: 2;
}

.contact-form h1 {
  margin-bottom: 20px;
  color: white;
  font-family: 'Oswald';
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alignement des éléments à gauche */
  gap: 20px;
  flex: 1;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.contact-item a,
.contact-item span {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}
.contact-item a {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

.contact-item span {
  color: #333; /* Couleur pour l'email, non cliquable */
}
</style>
<main>
  <div class="contact-links">
    <div class="contact-item">
      <a href="https://www.linkedin.com/in/haris-skikdi-8aa6912b0/" target="_blank">
        <img src="assets/linkedin.png" alt="LinkedIn">
        <span>{{linkedin}}</span>
      </a>
    </div>
    <div class="contact-item">
      <img src="assets/email-logo.png" alt="Email">
      <span>{{email}}</span>
    </div>
  </div>
    <div class="contact-form">
      <h1>Me contacter</h1>
      <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="10" required></textarea>
        
        <button type="submit">Send</button>
      </form>
    </div>
    
</main>
