<style>
  main{
    margin: auto;
    width: 80%;
    height: 80%;
    backdrop-filter: blur(16px);
    display: flex;
  }
  .skill-grid{
    display: flex;
    height: 100%;
    width: 75%;
  }
  .skill-description{
    display: flex;
    height: 100%;
    width: 25%;
    background-color: red;
  }
  .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: blueviolet;
}
.skill img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
  p{
     color : white;
  }
</style>

<main>
  <div class="skill-grid">
    <div *ngFor="let icon of icons" class="skill">
      <img src={{icon.src}} alt={{icon.alt}}>

    </div>
  </div>
  <div class="skill-description">

  </div>
</main>