
<style>
    main {
  margin: auto;
  width: 80%;
  height: 80%;
  backdrop-filter: blur(16px);
}

main p {
  color: white;
}

.compTab{
    height: 80%;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
    height: 200px;
    width: 200px;
}


</style>

<main>
    <p>Competences workks!!!!!!</p>
    <div class = compTab>
        <img src="../../assets/cplus.png">
        <img src="../../assets/angular-icon-logo.png">
        <img src="../../assets/vecteezy_javascript-logo-png-javascript-icon-transparent-png_27127463.png">
        <img src="../../assets/dockerIcon.png">
        <img src="../../assets/svelteIcon.png">
        <img src="../../assets/nestIcon.png">
        <img src="../../assets/postgressIcon.png">

    </div>
  </main>