
<style>
    main {
  margin: auto;
  width: 80%;
  height: 80%;
  backdrop-filter: blur(16px);
  overflow-y: scroll;
}

main p {
  color: white;
}

.compTab{
    height: 80%;
    width: 100%;
    display: flex;

    flex-wrap: wrap;
}

.compTab img {

    flex: 1 0 calc(33.333% - 20px);
    max-width: 30%;
    height: 220px;
    width: 150px;
    object-fit: cover; /* Ajuste l'image pour qu'elle couvre l'espace disponible sans déformation */
    margin: 10px; /* Ajoute de l'espace autour des images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


</style>

<main>
    <p>Competences workks!!!!!!</p>
    <div class = compTab>
        <img src="../../assets/cplus.png">
        <img src="../../assets/angular-icon-logo.png">
        <img src="../../assets/vecteezy_javascript-logo-png-javascript-icon-transparent-png_27127463.png">
        <img src="../../assets/dockerIcon.png">
        <img src="../../assets/svelteIcon.png">
        <img src="../../assets/nestIcon.png">
        <img src="../../assets/postgressIcon.png">

    </div>
  </main>