<nav class="menu">
    <div class="home" (click)="goToHome()">
        <p>Haris SKIKDI</p>
    </div>
    <a href="/">Accueil</a>
    <a href="/page1">Page 1</a>
    <a href="/page2">Page 2</a>
</nav>

<style>
    .menu{
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: inherit;
        position: relative;
        background-color: brown;
    }
    .home{
        width: 200px;
        box-sizing: inherit;
        position: absolute;
        display: flex;
        justify-content: center;
        left: 10px;
        background-color: blue;
    }


</style>
  